/*Color theme
Main color: #070507  
Second color: #233237
Third color: #984B43
Fourth color: #EAC67A
*/

/* General style*/

* {
    box-sizing: border-box;
}

body, html {
    background-color: #070507;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    scroll-behavior: smooth;
}

section{
    
    padding: 3rem 2rem 0 2rem;
}
.wrapper{
    overflow: hidden;
}
a{
    text-decoration: none;
    
}
a:visited{
    text-decoration: none;
    
}
hr {
    display: block;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(152, 75, 67, 0), rgba(152, 75, 67, 0.75), rgba(152, 75, 67, 0));
}
h1 {
    color: #EAC67A;
    text-align: center;
}